body {
	font-family: Consolas, Courier, monospace;
	color: lime;
	background-color: black;
	background-image: url(./img/crt-lines.png);
}

a img {
	border: none;
}


a:link {
	color: #9a7f49;
}

a:visited {
	color: #666699;
}

a:hover, a:active, a:focus {
	color: #99ff33;
	text-decoration: none;
}

p {
	margin-bottom: 50px;
	text-align: center;
}

.noshow {
	display: none;
}