
body { color: black; background-color: white; }

td { font-size: 90% ; }
td { text-align: center  ;}
td.right { text-align: right ; }
td.dark { color: #FFFFFF ; }

em { background-color: yellow ;}
img { border: 0px ; }

caption { display: none; }

h1,body,html { margin-top: none; padding-top: none; }

h1 { font-size: medium; }
html[xmlns] h1 { font-size: large; }

.highlight { background-color: yellow ;}

