/* Find-in-page mod */
.find-in-page {
	position:absolute;
	background-color: var(--colorBg);
	border-radius: var(--radius);
	max-width: fit-content;
	margin: 0 auto;
	top: 3px;
	right: 0;
	left: 0;
	z-index:1;
}

/* Find-in-page input wider */
.find-in-page .fip-input-container {
	width: 400px;
	max-width: unset;
}

/* Find-in-page transparent if not focused */
.find-in-page:not(:focus-within):not(:hover) {
	opacity: 0.8;
}

/* Find-in-page background color for no matches */
.find-in-page.fip-nomatches { 
	background: darkred;
}

/* Find-in-page result numbers clearer */
.find-in-page .fip-results {
	opacity: 1 !important;	
}

/* Find-in-page no animation */
.fip-active-hit {
	display: none;
}
